<div class="container">
  <div class="confirmation-box">
    <h1><i class="fa-regular fa-circle-check"></i>Booking is successfully done.</h1>
    <p>Your name : <%= @booking.user.first_name %> <%= @booking.user.last_name %></p>
    <p>From : <%= @booking.start_date.strftime("%b %d, %Y") %></p>
    <p>To : <%= @booking.end_date.strftime("%b %d, %Y") %></p>
    <p>Car Brand : <%= @booking.car.brand %></p>
    <p>Car owner : <%= @booking.car.user.first_name %> <%= @booking.car.user.last_name %></p>

    <%= link_to "HOME", root_path, class:"btn btn-gradient text-center" %>
  </div>
</div>
