<div class="container">
  <h1>My Bookings</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Booking ID</th>
        <th scope="col">User</th>
        <th scope="col">Car brand</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td scope="row"><%= booking.id %></td>
          <td><%= booking.user.first_name %></td>
          <td><%= booking.car.brand %></td>
          <td><%= booking.date %></td>
          <td>
            <%= button_to "Delete", booking_path(booking), method: :delete, class:"btn btn-warning" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
