<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Car</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= booking.user.name %></td>
        <td><%= booking.car.make %></td>
        <td><%= booking.date %></td>
        <td>
          <%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to delete this booking?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
