<div class="banner" style="background-image: url('<%= asset_path 'carbanner.png' %>');">
  <div class="banner-text">
    <header>
      <h1 class="header">Welcome to Vroomie</h1>
    </header>
  </div>
</div>

<div class="container top-container text-center">
  <h2 id="phrase">Explore the world's largest car sharing marketplace</h2>
  <div width="750px" class="h2-underline">
  </div>

  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="query" id="search_query" placeholder="Search for a car..." />
      <button name="button" type="submit" class="btn btn-gradient">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>

  <div class="spacing">
    <% @cars.each do |c| %>
     <div class="wrapper">
      <%= link_to car_path(c) do %>
        <div class="banner-image" style=" background-image: url('<%= cl_image_path c.photos.first.key%>'); ">
          <h2><%= c.brand %></h2>
        </div>
          <h3 class="price">€<%= c.price %></h3>
      <% end %>
        <div class="button-wrapper">
        <%= link_to "Details", car_path(c), class: "btn outline" %>
    </div>
   </div>
  <% end %>
 </div>
</div>
