<div class="container">
  <h1><%= @car.brand %></h1>
</div>


<div class= "card-car" >
  <div class="car-img">
    <%= cl_image_tag @car.photo.key, height: 300, crop: :fill %>
  </div>
  <h2> Description:<h2>
  <h5><%= @car.description %></h5>
  <h2> Key Details:</h2>
  <ul>
    <li> Year: <%= @car.year %></li>
    <li> Price: £<%= @car.price %></li>
  </ul>
  <%= link_to "Make a booking", new_car_booking_path(@car), class: 'btn btn-success' %>
</div>
