<div>
  <h1><%= @car.brand %></h1>
</div>

<%= link_to "Return home", root_path(@list), class: 'btn btn-primary' %>

<div>
  <h2> Description:<h2>
  <p><%= @car.description %></p>
</div>

<div>
  <h2> Key Details:</h2>
  <ul>
    <li> Year: <%= @car.year %></li>
    <li> Price: £<%= @car.price %></li>
  </ul>
</div>
